//customize your own CSS for page display
// 超链接样式
a {
    color: rgb(32, 178, 170);
    border-bottom: none;
    &:hover {
      color: rgb(30, 144, 255);
      text-decoration: underline;
    }
}
.posts-expand .post-meta a, .post-copyright a {
    border-bottom: none;
    &:hover {
      color: rgb(30, 144, 255);
      text-decoration: underline;
    }
}
a {
    border-bottom-color: rgb(80, 115, 184);
}
a:hover {
    color: rgb(30, 144, 255);
    border-bottom-color: rgb(30, 144, 255);
}